

<div class="container" >
<h1>Usuarios</h1>


  <div class="row">
    <div class="col-md-10">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapseOne">
                  Sigue a tus amigos de Facebook
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in ">
              <div class="panel-body">
                <div class="row" style="margin-top: -15px; margin-bottom: -15px">
                    <% @friends = current_user.friends_using_app %>
                    <% if @friends .nil? %>
                        <div class="row">
                          Relaciona tu cuenta con Facebook para seguir a tus amigos
                        </div>
                    <% else  %>

                        <% @friends_using_app = @friends.find_all {|x| x['installed'] == true}    %>
                        <% @friends_id = @friends_using_app.map {|x| x['id']}  %>
                        <% @show_friends = @users.find_all{|x| x[:uid] = @friends_id} %>
                        <% @show_friends.each do |x| %>
                            <%	 if x == current_user %>
                            <%	 else %>

                                <div class="row wrapusers" >
                                  <div class="col-md-2">
                                    <% if x.photo_file_name.blank?  %>
                                        <% if x.avatar.blank?  %>
                                            <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchico", :size => "100x50" ), x %>
                                        <%	 else %>
                                            <%= link_to image_tag(x.avatar, class: "avatarchico", :size => "100x50" ), x %>
                                        <% end %>
                                    <% else %>
                                        <%= link_to image_tag(x.photo.url(:square), class: "avatarchico", :size => "100x50" ), x %>
                                    <%	 end %>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="row">
                                      <%=	link_to x.name, x %>
                                    </div>
                                    <div class="row">
                                      Actividades que sigue <%=	 x.followed_actividades.count %>
                                    </div>
                                  </div>
                                  <div class="col-md-2 col-md-offset-2">
                                    <div class="row">
                                      <div id="follow_form" >
                                        <% if current_user.following?(x) %>
                                            <%= form_for(current_user.relationships.find_by(followed_id: x), html: { method: :delete })  do |f| %>
                                                <%= f.submit "seguir", class: " btn btn-primary" %>
                                            <% end %>
                                        <% else %>
                                            <%= form_for(current_user.relationships.build(followed_id: x.id)) do |f| %>
                                                <div><%= f.hidden_field :followed_id %></div>
                                                <%= f.submit  "No seguir", class: "btn " %>
                                            <% end %>
                                        <% end %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>





  </div>
    <%= will_paginate %>



    <%= will_paginate %>






</div>